@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
/* @import url("https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"); */
:root {
  --primary-yellow: rgb(252, 226, 100);
  --primary-blue: #122d34;
  --secondary-blue: #5c7a82;
  --secondary-yellow: #fdf0b1;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
}

html {
  cursor: url("./icons/cursor.svg"), auto;
}

body {
  color: #122d34;
  background-color: #f8feff;
  overflow-x: hidden;
}


.error_text{
  position: absolute;
  z-index: 111;
  max-width: 450px;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}
.error_text h5{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.error_page,
.network_page{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0; left: 0;
  z-index: 100;
  background: #f8feff;
}


.error-bg{
  width: 100%;
  height: 100%;
  background: url("/src/images/404_desktop.png") no-repeat center;
  background-size: cover;
}

/* .network-bg{
  width: 100%;
  height: 100%;
  background: url("/src/images/no_internet.svg") no-repeat center;
  background-size: cover;
} */

.network-bg{
  display: flex;
  justify-content: center;
  height: 60vh;
}

.network-bg img{
  top: 120px;
}

.pre-container{
  position: fixed;
  z-index: 2000000;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: var(--secondary-yellow);
  overflow: hidden;
  opacity: 1;
  transform: scaleY(1);
  transform-origin: top;
  animation: preC 1s ease forwards;
  animation-delay: 3.5s;
  cursor: none;
}


@keyframes preC {
  0%{opacity: 1;}
  75%{opacity: 0;}
  99%{opacity: 0;transform: scaleY(1);}
  100%{transform: scaleY(0);}
}

.c1{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) scale(0.5);
  animation: c1 3s ease forwards;
  animation-delay: 1.5s;
}

.c2{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) rotate(0deg) scale(0.5);
  animation: c2 3s ease forwards;
  animation-delay: 1.5s;
}
.c3{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) scale(0.5);
  animation: c3 3s ease forwards;
  animation-delay: 1.5s;
}

#c-outer{position:absolute; z-index: 5;}
#c-inner{position:absolute; z-index: 15;}


#c-outer{
  animation: pac 1.5s ease;
}

#co1{animation: co1 1.5s ease both;transform-origin: left;}
#co2{animation: co2 1.5s ease both;transform-origin: left;}

@keyframes c1 {
  25%{transform: translate(-25%,-50%) scale(0.5);}
  50%{transform: translate(-25%,-50%) scale(0.5);}
  75%{transform: translate(-25%,-50%) scale(0.5); top:50%;left:50%}
  100%{transform: translate(-25%,-50%) scale(0.5);top:13%;left:18%}
}
@keyframes c3 {
  25%{transform: translate(-75%,-50%) scale(0.5);}
  50%{transform: translate(-75%,-50%) rotate(180deg) scale(0.5);}
  75%{transform: translate(-75%,-50%) rotate(180deg) scale(0.5); top:50%;left:50%}
  100%{transform: translate(-75%,-50%) rotate(180deg) scale(0.5);top:13%;left:18%}
}

@keyframes c2 {
  25%{transform: translate(-75%,-50%) scale(0.5);}
  50%{transform: translate(-75%,-75%) scale(0.5); }
  75%{transform: translate(-75%,-75%) scale(0.5);  top:50%;left:50%}
  100%{transform: translate(-75%,-75%) scale(0.5); top:13%;left:18%}
}


@keyframes pac {
  0%{transform: translate(4377px, 4721px) rotate(-90deg);}
  25%{transform: translate(4377px, 4667px) rotate(-90deg);}
  50%{transform: translate(4377px, 4721px) rotate(-90deg);}
  75%{transform: translate(4377px, 4667px) rotate(-90deg);}
  100%{transform: translate(4377px, 4721px) rotate(-90deg);}
}
@keyframes co1 {
  0%{d:path("M62.5,0,125,62H0Z")}
  25%{d:path("M8.5,0,17,62H0Z")}
  50%{d:path("M62.5,0,125,62H0Z")}
  75%{d:path("M8.5,0,17,62H0Z")}
  100%{d:path("M62.5,0,125,62H0Z")}
}
@keyframes co2 {
  0%{d:path("M 62.49989700317383 0 L 125 62 L -7.62939453125e-06 62 L 62.49989700317383 0 Z")}
  25%{d:path("M 8.499996185302734 0 L 16.99999618530273 62 L -3.814697265625e-06 62 L 8.499996185302734 0 Z")}
  50%{d:path("M 62.49989700317383 0 L 125 62 L -7.62939453125e-06 62 L 62.49989700317383 0 Z")}
  75%{d:path("M 8.499996185302734 0 L 16.99999618530273 62 L -3.814697265625e-06 62 L 8.499996185302734 0 Z")}
  100%{d:path("M 62.49989700317383 0 L 125 62 L -7.62939453125e-06 62 L 62.49989700317383 0 Z")}
} 


.transition-yellow{
  content: "";
  position: absolute;
  z-index: 100000000;
  transform: scaleY(0);
  transition: 1s;
  transform-origin: bottom;
  background: rgb(252, 226, 100);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}


.home {
  overflow: hidden;
}

.homer {
  overflow: hidden;
}

li{
  list-style: none;
  text-decoration: none;
}

.navbar {
  height: 20vh;
  display: flex;
  align-items: center;
}

.logoC{
  transform: scale(0.2);
  margin: auto;
  cursor: pointer;
}


.sub9{
  transform:translate(4197.595px, 4390.5px) rotate(0deg);
  transform-origin: center;
  transform-box: fill-box;
}
#Subtraction_10{
  transform:translate(4197.595px, 4453px) rotate(180deg);
  transform-origin: center;
  transform-box: fill-box;
}
.sub6{
  transform:translate(4312px, 4453px) rotate(0deg);
  transform-origin: center;
  transform-box: fill-box;
}

.sub9Rot{animation: sub9 2s forwards;}
.sub10Rot{animation: sub10 2s forwards;}
.sub6Rot{animation: sub6 2s forwards;}
@keyframes sub9 {
  0%{transform: translate(4197.595px, 4390.5px) rotate(0deg);}
  100%{transform: translate(4197.595px, 4390.5px) rotate(360deg);}
}
@keyframes sub10 {
  0%{transform: translate(4197.595px, 4453px) rotate(180deg);}
  100%{transform: translate(4197.595px, 4453px) rotate(540deg);}
}
@keyframes sub6 {
  0%{transform: translate(4312px, 4453px) rotate(0deg);}
  100%{transform: translate(4312px, 4453px) rotate(360deg);}
}


.logoC img{height: 40px;}
.menu {
  margin: auto;
  display: flex;
}

.menu-bg {
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 3;
  font-size: 1rem;
  text-decoration: none;
  color: var(--secondary-blue);
  padding: 0.75rem 0.75rem;
  margin: 0 0.75rem;
  font-weight: 600;
  overflow: hidden !important;
  transition: color 0.4s ease-in-out;
}

/* .menu a:hover {
  cursor: pointer;
  color: var(--primary-blue);
} */

.menu-bg::before {
  position: absolute;
  z-index: -1;
  content: "";
  background-color: rgb(252, 226, 100, 0.5);
  height: 40%;
  width: 100%;
  left: 0;
  bottom: 0.25rem;
  transform: translateY(30px);
  transition: transform 0.4s;
}

.menu-bg:hover::before {
  transform:  translateY(0px);
}

.active-menu::before{
  transform:  translateY(0px);
}

small{
  position: absolute;
  left: 12px;
  top:70px;
  color: #FF6161;
  font-weight: 500;
  display: none;
}


.active-menu
 {
  color: #1f1f1f !important;
}

.center {
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.main-header {
  font-size: 3.75rem;
  font-weight: 700;
  color: var(--primary-blue);
  overflow: hidden;
  /* -webkit-text-stroke: var(--primary-blue);
  -webkit-text-stroke-width: 3px; */
}

.main-header span {
  display: inline-block;
  white-space: pre;
}

::selection {
  background: rgb(252, 226, 100, 0.5);
}

.center p {
  margin-top: 12px;
  font-size: 1.5rem;
  color: var(--secondary-blue);
}

.center p span {
  position: absolute;
  color: var(--primary-blue);
  font-weight: 600;
  background-color: #f8feff;
  padding: 0 12px;
}

.para {
  display: flex;
  margin-left: 42px;
}

.cube-container {
  perspective: 500px;
  transform-origin: 50% 50%;
  overflow: hidden;
}

.cube {
  transform-style: preserve-3d;
  width: 180px;
  height: 34px;
  position: relative;
  animation: loop 6s infinite linear;
}

.front-name {
  display: block;
  backface-visibility: hidden;
  transform: rotateX(0deg) translateZ(20px);
}

.top-name {
  top: 0;
  left: 0;
  transform: rotateX(90deg) translateZ(20px);
}

.back-name {
  top: 0;
  left: 0;
  transform: rotateX(180deg) translateZ(20px);
}
.bottom-name {
  top: 0;
  left: 0;
  transform: rotateX(270deg) translateZ(20px);
}

@keyframes loop {
  0% {
    transform: rotateX(0deg);
  }
  35% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  85% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

.go-down {
  cursor: pointer;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  transform: scale(0.7);
  transition: 0.6s ease-in-out;
}

.go-down.gone-down {
  opacity: 0;
}

.project-image {
  max-width: 100%;
  animation: breathe 3s ease-in-out infinite alternate;
}
@keyframes breathe {
  from {
    transform: translateY(0px) scale(1);
  }
  to {
    transform: translateY(10px) scale(1.03);
  }
}

Link {
  cursor: none;
}

.project {
  width: 35rem;
  height: 100%;
  left: 3rem;
  overflow: hidden;
  cursor: none !important;
}

.video-project {
  width: 35rem;
  height: 100%;
  left: 3rem;
  overflow: hidden;
  cursor: none !important;
}

.videos-cont {
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

.videos-cont.activevbg {
  display: block;
}

.videos {
  position: fixed;
  z-index: 1000;
  background-color: #122d34;
  width: 80%;
  top: 94%; left: 10%;
  border-radius: 6px;
  height: 90%;
  opacity: 0.8;
  transition: 1.3s cubic-bezier(0.19, 1, 0.22, 1) top;
}

.videos.activev {
  opacity: 1;
  width: 90%;
  top: 5%;
  left: 5%;
}

@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");

.pitch{
  background: rgb(0, 0, 0, 0.75);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform-origin: top;
  z-index: 2;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

.p-1,
.p-2,
.p-3,
.p-4,
.p-5 {
  opacity: 0;
  transform: translateY(60px) scale(0.8);
  transition: 1s cubic-bezier(0.59, 0.33, 0.29, 0.88);
}

.webgl{
  position: absolute !important;
  z-index: -1;
  top: 0;
  width: 80vw !important;
  height: 70vh !important;
}


.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 10rem;
  padding-right: 10rem;
  margin-bottom: 10rem;
}

.project-cursor {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: var(--primary-yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: zoomOut 0.4s ease-in-out;
  position: absolute;
  visibility: hidden;
}

.project-cursor p {
  font-weight: 600;
  color: var(--primary-blue);
  font: 1rem;
}

.personas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.persona-conts {
  width: 45%;
}

.p-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 3rem;
}

.p-details img {
  height: 180px;
}

.cursor-follower {
  position: fixed;
  z-index: 100000;
  background: rgb(252, 226, 100);
  opacity: 0.5;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  transform: scale(1);
  transition: 0.8s cubic-bezier(0.58, 0.34, 0.54, 1.94) transform,
    0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275) opacity;
  pointer-events: none;
}

.cursor-follower.active {
  opacity: 0.98;
  transform: scale(3);
}

.cursor-follower.activehire {
  opacity: 0.88;
  transform: scale(3);
}

.cursor-follower.removed{
  cursor: none !important;
  background-color: transparent;
  opacity: 0.98;
  transform: scale(3);
}

.hire,
.case {
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.3rem;
  font-weight: bold;
}

.hire img{width: 30px; position: absolute; 
  animation: rotator 2s infinite ease;
  transform-origin: center;
  transform-box: fill-box; }

@keyframes rotator {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

button{
  z-index: 5;
  margin-top: 1rem;
  left: 0;
  height: 40px;
  width: 120px;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  background: rgb(252, 226, 100);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-bottom: 5rem;
}

button::before {
  content: "";
  background: rgba(0,0,0, 0.1);
  height: 0%;
  width: 120%;
  left: 0;
  top: 0;
  position: absolute;
  transition: 0.8s ease-in-out;
  border-radius: 50% 50% 50% 50%;
  transform: translate(-10%, -50%);
}

button:hover::before {
  color: var(--primary-yellow);
  height: 350%;
  transform: translateY(0);
  border-radius: 0 0 0 0;
}

.flight{
  z-index: 2;
  position: absolute;
  transform: translate(-182px,182px) scale(0.1);
}

.case img {
  width: 8px;
}

.p-1 {
  margin-top: 0rem;
}

.p-2 {
  margin-top: 4rem;
}

.p-3 {
  margin-top: 0rem;
}
.p-4 {
  margin-top: 4rem;
}

.pin-spacer{pointer-events: all;}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  position: sticky;
  top: 0;
}

.s-i:hover {
  cursor: none;
  color: var(--primary-yellow);
}

form{width: 100%;display: flex;flex-direction: column;align-items: flex-start; margin-top: 2rem;}

.input-container{padding-top: 1.5rem; position: relative; padding-bottom: 1.5rem;overflow: hidden;}
.input-container label{position: absolute; left:0;transform: translate(12px, 14px);
  transition: .3s ease transform; pointer-events: none;}
.input-container input,
.input-container textarea
{ width: 512px;
  height: 40px;
  padding-left: 1rem;
  border: none;
  color: rgb(252, 226, 100);
  background: transparent;
  border-bottom: 1px solid rgb(252, 226, 100);
}


.input-container input:focus,
.input-container textarea:focus{
  outline: none;
}

.nameInput{position: relative;}

.b1,b2,b3,b4{pointer-events: none;}

.borderLeft{width: 2px; height: 40px; background: rgb(252, 226, 100); position: absolute;
left: 0; animation: bleft 1s both; transform-origin: bottom;}
.borderTop{width: 526px; height: 2px; background: rgb(252, 226, 100); position: absolute;
left: 0; animation: btop 1s both; transform-origin: left; animation-delay: 0.5s;}
.borderRight{width: 2px; height: 40px; background: rgb(252, 226, 100); position: absolute;
right: 0; animation: bright 1s both; transform-origin: top; animation-delay: 1s;}
.borderBottom{width: 526px; height: 2px; background: rgb(252, 226, 100); position: absolute;
right: 0; bottom: 24px; animation: bbottom 1s both; transform-origin: right; animation-delay: 1.5s;}


.borderLeftm{width: 2px; height: 80px; background: rgb(252, 226, 100); position: absolute;
left: 0; animation: bleft 1s both; transform-origin: bottom;}
.borderRightm{width: 2px; height: 80px; background: rgb(252, 226, 100); position: absolute;
right: 0; animation: bright 1s both; transform-origin: top; animation-delay: 1s;}
.borderBottomm{width: 526px; height: 2px; background: rgb(252, 226, 100); position: absolute;
  right: 0; bottom: 28px; animation: bbottomm 1s both; transform-origin: right; animation-delay: 1.5s;}
  
  


@keyframes bleft {
  0%{transform: scaleY(0);transform-origin: bottom;}
  49%{transform: scaleY(1); transform-origin: bottom;}
  50%{transform: scaleY(1); transform-origin: top;}
  100%{transform: scaleY(0); transform-origin: top;}
}
@keyframes btop {
  0%{transform: scaleX(0);transform-origin: left; animation-fill-mode:backwards}
  49%{transform: scaleX(1); transform-origin: left;}
  50%{transform: scaleX(1); transform-origin: right; animation-fill-mode:forwards}
  100%{transform: scaleX(0); transform-origin: right;}
}

@keyframes bright {
  0%{transform: scaleY(0);transform-origin: top;}
  49%{transform: scaleY(1); transform-origin: top;}
  50%{transform: scaleY(1); transform-origin: bottom;}
  100%{transform: scaleY(0); transform-origin: bottom;}
}
@keyframes bbottom {
  0%{transform: scaleX(0);transform-origin: right; animation-fill-mode:backwards}
  49%{transform: scaleX(1); transform-origin: right;}
  50%{transform: scaleX(1); transform-origin: left; animation-fill-mode:forwards}
  100%{transform: scaleX(0); transform-origin: left;}
}
@keyframes bbottomm {
  0%{transform: scaleX(0);transform-origin: right; animation-fill-mode:backwards}
  49%{transform: scaleX(1); transform-origin: right;}
  50%{transform: scaleX(1); transform-origin: left; animation-fill-mode:forwards}
  100%{transform: scaleX(0); transform-origin: left;}
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(252, 226, 100);
  -webkit-box-shadow: 0 0 0 1000px var(--primary-blue) inset;
  transition: background-color 5000s ease-in-out 0s;
}


/* input:not(:placeholder-shown) + .label */
.nameInput:not(:placeholder-shown) + .nameLabel,
.emailInput:not(:placeholder-shown) + .emailLabel,
.nameInput:focus + .nameLabel,
.emailInput:focus + .emailLabel
{
  color: rgb(252, 226, 100, 0.5);
  transform: translate(12px, -14px);
  font-size: 0.8rem;
}

.messageInput:not(:placeholder-shown) + .messageLabel,
.messageInput:focus + .messageLabel{
  color: rgb(252, 226, 100, 0.5);
  transform: translate(12px, -18px);
  font-size: 0.8rem;
}

.reply-container{
  margin-top: -4rem;
  margin-bottom: 2rem;
  background: rgb(252, 226, 100,1);
  border-bottom-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  font-size: 1rem;
  font-weight: 500;
  padding-top: 0.5rem; padding-bottom: 0.5rem;
  padding-left: 1rem; padding-right: 1rem;
  color: #122d34;
  transform: scale(0);
  transform-origin: left;
}

.popMsg{animation: popMsg 4s both;animation-delay: 2s;}

@keyframes popMsg {
  0%{transform: scaleX(0);}
  10%{transform: scaleX(0);}
  20%{transform: scaleX(1);}
  80%{transform: scaleX(1);}
  90%{transform: scaleX(0);}
  100%{transform: scaleX(0);}
}

.contact-pager{opacity: 0; z-index: 20; pointer-events: none;}

.contact-page{
  position: relative;
  z-index: 700;
  height: 100vh;
  width: 100vw;
  display: flex;
  background: #122d34;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(252, 226, 100);
}


.incog{
  position: relative;
  transform: scale(0.45);
  z-index: 3;
}

.incogImg{
  position: relative;
  z-index: 5;
  transform-origin: center;
  transform-box: fill-box;
  
}

.goback{animation: goback 4s ease both; animation-delay: 2s;}
.gofront{animation: gofront 4s ease both; animation-delay: 2s;}

.mypic{
  position: absolute;
  z-index: 4;
  transform-origin: center;
  transform-box: fill-box;
  transform: rotateY(180deg);
  top: 0;
  left: 0;
}


@keyframes goback {
  0%{transform: rotateY(0deg); z-index: 0;}
  10%{transform: rotateY(0deg); z-index: 0;}
  20%{transform: rotateY(180deg); z-index: -1;}
  80%{transform: rotateY(180deg); z-index: -1;}
  90%{transform: rotateY(0deg); z-index: 0;}
  100%{transform: rotateY(0deg); z-index: 0;}
}

@keyframes gofront {
  0%{transform: rotateY(180deg); z-index: -1;}
  10%{transform: rotateY(180deg); z-index: -1;}
  20%{transform: rotateY(0deg); z-index: 0;}
  80%{transform: rotateY(0deg); z-index: 0;}
  90%{transform: rotateY(180deg); z-index: -1;}
  100%{transform: rotateY(180deg); z-index: -1;}
}


body.bluebg {
  transition: background-color 1s ease-in-out;
  background-color: var(--primary-blue);
}

.go-to-top {
  z-index: 100000;
  opacity: 0;
  cursor: pointer;
  transform: translateY(80px) scale(0.3);
  transition: 0.6s cubic-bezier(0.78, 0.78, 0.59, 1.94);
  right: 24px;
  bottom: 54px;
  position: fixed;
}

.go-to-top:hover{transform: scale(0.85); }

.goappear{
  transform: translateY(0px) scale(0.75);
  opacity: 1;
}

.deck-container {
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deck-btn {
  height: 60px;
  width: 264px;
  background: var(--primary-blue);
  font-size: 1rem;
  border-radius: 30px;
  color: var(--primary-yellow);
  font-weight: 600;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deck-btn::before {
  content: "";
  background: rgba(255, 255, 255, 0.1);
  height: 0%;
  width: 120%;
  left: 0;
  top: 0;
  position: absolute;
  transition: 0.8s ease-in-out;
  border-radius: 50% 50% 50% 50%;
  transform: translate(-10%, -50%);
}

.deck-btn:hover::before {
  color: var(--primary-yellow);
  height: 350%;
  transform: translateY(0);
  border-radius: 0 0 0 0;
}

.go-to-top.display {
  transform: scale(0.8);
  opacity: 0.6;
}

.bordert,
.borderb,
.borderm,
.borderi,
.borderl {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top: 2px solid var(--primary-yellow);
  border-bottom: 2px solid var(--primary-yellow);
  transform: scaleX(0);
  transition: 0.6s cubic-bezier(0.74, 0.15, 0.56, 1.01);
}

.s-i {
  display: block;
  position: relative;
  cursor: pointer;
  width: 100vw;
  height: 16vh;
  transform: scale(1);
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--primary-blue);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(252, 226, 100);
}


.s-i:hover .bordert,
.s-i:hover .borderb,
.s-i:hover .borderm,
.s-i:hover .borderi,
.s-i:hover .borderl {
  opacity: 0.5;
  transform: scaleX(1);
}
.s-i:hover {
  cursor: none;
  color: var(--primary-yellow);
}

/* About Page*/

.about-container {
  margin: 3rem auto;
  margin-bottom: 0 !important;
  display: flex;
  max-width: 1024px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.about-text {
  max-width: 35%;
  height: auto;
  color: var(--primary-blue);
}

.about-text p {
  margin-top: 1rem;
  color: var(--primary-blue);
  line-height: 1.5;
}

.left, .right{
  position: absolute;
  left: 0;
  top: 0;
}
.left-clip{
  transition: 0.7s ease-in-out;
  filter: brightness(0.7);
  clip-path: polygon(0 0, 0 100%, 50% 100%);
}

.right-clip{
  transition: 0.7s ease-in-out;
  filter: brightness(0.7);
  clip-path: polygon(100% 0, 100% 100%, 50% 100%);
}

.middle-clip{
  transition: 0.7s ease-in-out;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}
.middle-zoom{
  transition: 0.7s ease-in-out;
  transform: scale(1.05);
}

.my-image-c {
  max-width: 35%;
  height: fit-content;
  position: relative;
  overflow: hidden;
}
.my-image{
  overflow: hidden;
}



::-webkit-scrollbar {
  width: 14px;
  box-shadow: inset 1px 0px 3px rgba(0, 0, 0, 0.5);
  background: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 7px;
  margin: 0 2px;
  background: var(--secondary-blue);
}

.project-1 {
  max-width: 100vw;
  line-height: 2;
  overflow: hidden;
}

.p1-cover-image {
  top: 0;
  margin: auto;
}

.cover-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 60vh;
}

.heading {
  position: absolute;
  font-size: 8rem;
  font-weight: 700;
  margin-left: 12px;
  margin-bottom: -30px;
}

.headingflex {
  display: flex;
  flex-direction: row;
}

.heading p {
  text-shadow: 0px -3px 6px rgba(0, 0, 0, 0.3);
  letter-spacing: 6px;
}

.cover-bg h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: -60px;
}

.cover-bg img {
  position: absolute;
  height: 60vh;
  z-index: 0;
  margin-top: -30px;
}

.backtext {
  position: relative;
  z-index: -2;
}

.p1 {
  position: absolute;
  top: 0;
  height: 85vh;
  width: 100vw;
  z-index: -2;
  background: #ebf2fc;
  box-shadow: inset 0px -1px 8px rgba(0, 0, 0, 0.05);
}

.project-container {
  margin: auto;
  max-width: 1024px;
}

.pc1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 7rem;
}

.pc1-sec {
  width: 40%;
}
.pc1-secs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pc1-sec p {
  margin-top: 2rem;
  color: var(--secondary-blue);
}

.p-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.p-header h2{
  font-size: 2rem;
}

.p-header ul {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-size: 1.5rem;
}

.pw-images-bg {
  width: 100vw;
  background-color: #e4e4e4;
}

.pw-images {
  margin: 2rem auto;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pw-images img {
  height: 360px !important;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-5 {
  margin-top: 5rem;
}

.lo-fi {
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* .lo-fi-img {
  margin-left: 60px;
  height: 80vh;
} */

.lo-fi-img {
  margin-left: 220px;
  width: 240vw;
}

.lfp-bg {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #e4e4e4;
}

.lfp-bg a {
  text-decoration: none;
  color: var(--primary-blue);
  display: inline-block;
}

.m53 a:after {
  display: block;
  content: "";
  border-bottom: solid 2px var(--secondary-blue);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.m53 a:hover:after {
  transform: scale(1);
}

.m53 a:hover {
  animation: comeup 0.5s ease-in-out;
}

.up {
  display: flex;
  flex-wrap: wrap;
}

.upt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  justify-content: flex-start;
}

.usability {
  display: flex;
}
.us-b-a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flexed{
  margin-left: -22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.desktoplofi{
  width: 35vw;
  height: auto;
}

.mockups {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mockups img {
  width: 256px;
}

.p-icon svg {
  transform: scale(1.5);
}

.trans {
  transform: translate(25%, -25%) scale(1.5) !important;
}

#Group_74 {
  animation: g74 2s cubic-bezier(0.74, 0.15, 0.37, 0.91) alternate infinite;
}

@keyframes g74 {
  0% {
    transform: translate(-6.967px, -2.333px);
  }
  50% {
    transform: translate(-4.967px, -2.333px);
  }
  100% {
    transform: translate(-4.967px, -2.333px);
  }
}

#Path_84 {
  animation: p84 2s cubic-bezier(0.74, 0.15, 0.37, 0.91) infinite alternate;
}
#Path_87 {
  animation: p87 2s cubic-bezier(0.74, 0.15, 0.37, 0.91) infinite alternate;
}
#Path_88 {
  animation: p88 2s cubic-bezier(0.74, 0.15, 0.37, 0.91) infinite alternate;
}

@keyframes p84 {
  0% {
    d: path(
      "M.5,0h2A.452.452,0,0,1,3,.5v2c0,.415-.224.5-.5.5H.5A.5.5,0,0,1,0,2.5V.5A.5.5,0,0,1,.5,0Z"
    );
    transform: translate(3660.967px, 2604.333px);
  }
  50% {
    d: path(
      "M.5,0h2c.276,0,.294.2.5.5L4.031.969v1.1L3,2.5c-.319.216-.224.5-.5.5H.5A.5.5,0,0,1,0,2.5V.5A.5.5,0,0,1,.5,0Z"
    );
    transform: translate(3656.967px, 2604.333px);
  }
  100% {
    d: path(
      "M.5,0h2A.452.452,0,0,1,3,.5v2c0,.415-.224.5-.5.5H.5A.5.5,0,0,1,0,2.5V.5A.5.5,0,0,1,.5,0Z"
    );
    transform: translate(3655.967px, 2604.333px);
  }
}

@keyframes p87 {
  0% {
    d: path(
      "M.5,0h2A.452.452,0,0,1,3,.5v2c0,.415-.224.5-.5.5H.5A.5.5,0,0,1,0,2.5V.5A.5.5,0,0,1,.5,0Z"
    );
    transform: translate(3660.967px, 2609.333px);
  }
  50% {
    d: path(
      "M.5,0h2c.276,0,.294.2.5.5L4.031.969v1.1L3,2.5c-.319.216-.224.5-.5.5H.5A.5.5,0,0,1,0,2.5V.5A.5.5,0,0,1,.5,0Z"
    );
    transform: translate(3656.967px, 2609.333px);
  }
  100% {
    d: path(
      "M.5,0h2A.452.452,0,0,1,3,.5v2c0,.415-.224.5-.5.5H.5A.5.5,0,0,1,0,2.5V.5A.5.5,0,0,1,.5,0Z"
    );
    transform: translate(3655.967px, 2609.333px);
  }
}

@keyframes p88 {
  0% {
    d: path(
      "M.5,0h2A.452.452,0,0,1,3,.5v2c0,.415-.224.5-.5.5H.5A.5.5,0,0,1,0,2.5V.5A.5.5,0,0,1,.5,0Z"
    );
    transform: translate(3660.967px, 2614.333px);
  }
  50% {
    d: path(
      "M.5,0h2c.276,0,.294.2.5.5L4.031.969v1.1L3,2.5c-.319.216-.224.5-.5.5H.5A.5.5,0,0,1,0,2.5V.5A.5.5,0,0,1,.5,0Z"
    );
    transform: translate(3656.967px, 2614.333px);
  }
  100% {
    d: path(
      "M.5,0h2A.452.452,0,0,1,3,.5v2c0,.415-.224.5-.5.5H.5A.5.5,0,0,1,0,2.5V.5A.5.5,0,0,1,.5,0Z"
    );
    transform: translate(3655.967px, 2614.333px);
  }
}

#Ellipse_39 {
  animation: e39 2s cubic-bezier(0.74, 0.15, 0.37, 0.91) infinite alternate;
}

@keyframes e39 {
  0% {
    transform: translate(3511px, 2595px) scale(0);
  }
  50% {
    transform: translate(3511px, 2611px) scale(1);
  }
  100% {
    transform: translate(3511px, 2611px);
  }
}

#Rectangle_110 {
  animation: r110 2s cubic-bezier(0.74, 0.15, 0.37, 0.91) infinite alternate;
}
#Rectangle_111 {
  animation: r111 2s cubic-bezier(0.74, 0.15, 0.37, 0.91) infinite alternate;
  animation-delay: 0.5s;
}
#Rectangle_112 {
  animation: r112 2s cubic-bezier(0.74, 0.15, 0.37, 0.91) infinite alternate;
}

@keyframes r110 {
  0% {
    transform: translate(3655px, 2659px) scaleY(-0.3);
  }
  50% {
    transform: translate(3655px, 2659px) scaleY(-0.6);
  }
  100% {
    transform: translate(3655px, 2659px) scaleY(-0.6);
  }
}

@keyframes r111 {
  0% {
    transform: translate(3663px, 2659px) scaleY(-0.4);
  }
  50% {
    transform: translate(3663px, 2659px) scaleY(-0.8);
  }
  100% {
    transform: translate(3663px, 2659px) scaleY(-0.8);
  }
}
@keyframes r112 {
  0% {
    transform: translate(3659px, 2659px) scaleY(-0.5);
  }
  50% {
    transform: translate(3659px, 2659px) scaleY(-1);
  }
  100% {
    transform: translate(3659px, 2659px) scaleY(-1);
  }
}

#Rectangle_116 {
  animation: r116 2s cubic-bezier(0.74, 0.15, 0.37, 0.91) infinite alternate;
}
@keyframes r116 {
  0% {
    transform: translate(3665px, 2659px) rotate(270);
    height: 5px;
  }
  50% {
    transform: translate(3665px, 2659px) rotate(270);
    height: 8px;
  }
  100% {
    transform: translate(3665px, 2659px) rotate(270);
    height: 8px;
  }
}

#star {
  animation: star 2s cubic-bezier(0.74, 0.15, 0.37, 0.91) infinite alternate;
  transform-box: fill-box;
  transform-origin: center;
}
@keyframes star {
  0% {
    transform: translate(3556.559px, 2596.001px) scale(0.5) rotateY(360deg);
  }
  50% {
    transform: translate(3556.559px, 2596.001px) scale(1);
  }
  100% {
    transform: translate(3556.559px, 2596.001px) scale(1);
  }
}

#location {
  animation: loc 2s infinite alternate;
}
@keyframes loc {
  0% {
    transform: translate(3645.5px, 2688px);
  }
  20% {
    transform: translate(3645.5px, 2686px);
  }
  40% {
    transform: translate(3645.5px, 2688px);
  }
  60% {
    transform: translate(3645.5px, 2688px);
  }
  80% {
    transform: translate(3645.5px, 2688px);
  }
  100% {
    transform: translate(3645.5px, 2688px);
  }
}
#Ellipse_54 {
  animation: e54 2s infinite alternate;
}
@keyframes e54 {
  0% {
    transform: translate(3653px, 2710px) scale(1);
  }
  20% {
    transform: translate(3656px, 2710px) scale(0.5);
  }
  40% {
    transform: translate(3653px, 2710px) scale(1);
  }
  60% {
    transform: translate(3653px, 2710px) scale(1);
  }
  80% {
    transform: translate(3653px, 2710px) scale(1);
  }
  100% {
    transform: translate(3653px, 2710px) scale(1);
  }
}

/* #part-icon{animation: part-icon 2s infinite alternate;} */
#part-icon-2 {
  animation: part-icon-2 2s infinite alternate;
}
#Group_83 {
  animation: g83 2s infinite alternate;
}
#Group_82 {
  animation: g82 2s infinite alternate;
}
@keyframes part-icon {
  0% {
    transform: translate(-3686px, -2683px);
  }
  50% {
    transform: translate(-3730px, -2683px);
  }
  100% {
    transform: translate(-3730px, -2683px);
  }
}
@keyframes g83 {
  0% {
    transform: translate(98.905px, 98.125px);
  }
  50% {
    transform: translate(88.905px, 98.125px);
  }
  100% {
    transform: translate(88.905px, 98.125px);
  }
}
@keyframes g82 {
  0% {
    transform: translate(87.905px, 94px);
  }
  50% {
    transform: translate(93.905px, 94px);
  }
  100% {
    transform: translate(93.905px, 94px);
  }
}

#nail {
  animation: nail 2s infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}
@keyframes nail {
  0% {
    transform: translate(3873.5px, 2696px) rotateZ(0deg);
  }
  25% {
    transform: translate(3873.5px, 2696px) rotateZ(90deg);
  }
  50% {
    transform: translate(3873.5px, 2696px) rotateZ(0deg);
  }
  100% {
    transform: translate(3873.5px, 2696px) rotateZ(0deg);
  }
}

#Path_89 {
  animation: p89 2s infinite alternate;
}
@keyframes p89 {
  0% {
    d: path("M3655.806,2654h0");
    transform: translate(-0.198px);
  }
  25% {
    d: path("M3655.806,2654l2.789,2.789h0");
    transform: translate(2.799px);
  }
  50% {
    d: path("M3655.806,2654l2.789,2.789,5.993-5.993");
    transform: translate(-0.198px);
  }
  100% {
    d: path("M3655.806,2654l2.789,2.789,5.993-5.993");
    transform: translate(-0.198px);
  }
}

#Line_25 {
  animation: l25 2s infinite alternate;
}

@keyframes l25 {
  0% {
    transform: translate(3832.5px, 2704px);
  }
  50% {
    transform: translate(3832.5px, 2704px);
    x2: 2px;
  }
  100% {
    transform: translate(3832.5px, 2704px);
  }
}

.other-projects-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ebf2fc;
}

.other-projects-container h2{
  padding-top: 3rem;
}

.other-projects{
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  justify-content: space-around;
}
.op{
  max-width: 520px;
  min-width: 300px;
  margin: 2rem;
}

nav{
  height: 20vh;
  background: cornflowerblue;
}



@media screen and (max-width: 780px) {

  .input-container input,
  .input-container textarea{
    width: 420px;
  }
  .main-header{
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .para{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .center p{margin-top: 24px;}
  .cube{
    width: 120px;
  }

  .works{
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }

  .p-3{
    margin-top: 4rem !important;
  }

  .s-i{
    font-size: 3rem;
    -webkit-text-stroke-width: 1px;
  }



  .about-container {
    margin: 1rem auto;
    flex-direction: column-reverse;
  }
  .about-text {
    max-width: 90%;
  }
  .my-image {
    max-width: 90%;
  }

  .leftalign {
    align-items: flex-start !important;
  }
  .rwidth100 {
    width: 100% !important;
    text-align: left !important;
  }

  .pc1-secs,
  .pc1-sec {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .rmt-5 {
    margin-top: 5rem;
  }

  .persona-conts,
  .persona-cont {
    margin: auto;
    width: 90% !important;
  }

  .persona-cont p {
    width: auto !important;
  }
  .lofi-pimg {
    width: 90vw;
  }

  .rtrans {
    transform: translate(25%, -25%) scale(1.5) !important;
  }

  .p-details {
    flex-direction: column;
    align-items: flex-start;
  }

  .p-details img {
    margin: auto;
    height: 120px;
  }
  .details {
    margin-top: 2rem;
  }
  .upt {
    padding: 0;
    width: 50%;
    margin-top: 5rem;
  }

  .us-b-a img {
    width: 45vw !important;
    height: auto !important;
  }

  .us-b-a p {
    font-size: 0.75rem !important;
    margin-left: -28px !important;
  }

  .mockups img {
    margin-left: 12%;
    width: 286px;
  }

  .cover-bg img {
    height: auto;
    width: 80vw;
  }

  .usability {
    margin-left: 1.5rem;
  }

  .m53 {
    margin: 5rem 3rem !important;
  }
  .pw-images img {
    height: 280px !important;
  }

  .heading {
    font-size: 7rem;
  }
}
.menubar{display: none; z-index: 5;}

@media screen and (max-width:1024px) {

  .just{
    flex-direction: column;
  }

  .desktoplofi{
    width: 90vw !important;
  }
  .error_text{
    min-width: 300px;
  }
  .error-bg{
    background-image: url("/src/images/404_mobile.png");
  }
  .network-bg img{
    transform: scale(2);
    left: 120px;
  }
 

  .menubar{display: block;padding-left: 12px;padding-right: 12px;}
  .navbar{
    overflow: hidden;
    height: fit-content;
    justify-content: space-around;
  }

  .logoC{
    z-index: 25;
    width: 60px;
    margin: initial !important;
  }
  li{
    display: inline-block;
    overflow: hidden;
    margin: 1rem 1rem;
  }

  li a{
    position: absolute;
  }
  .menu-bg{
    font-size: 1.75rem !important;}
  .menu{
    cursor: pointer;
    overflow: hidden;
    position: fixed;
    transform: scale(0.8) translateX(120%);
    transition: 0.8s ease-out;
    transform-origin: right;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background: #f8feff;
    box-shadow: -4px 6px 8px rgb(0, 0, 0, 0.12);
    z-index: 2;
  }

  .menubar{transform-box: fill-box; transform-origin: center;}
  #Rectangle_136{transform:translate(131.838px, 139.593px); animation-direction: normal;}
  #Rectangle_137{transform:translate(131.838px, 148.593px); animation-direction: normal;}
  #Rectangle_138{transform:translate(131.838px, 157.593px); animation-direction: normal;} 
  .r136{animation: r136 0.5s ease-out forwards; }
  .r137{animation: r137 0.5s ease-out forwards; }
  .r138{animation: r138 0.5s ease-out forwards; }

  @keyframes r136{
    25%{transform:translate(160.338px, 132.093px) rotate(90deg);}
    50%{transform:translate(169.991px, 144.79px) rotate(135deg);}
    75%{transform:translate(163.627px, 138.421px) rotate(135deg);}
    100%{transform: translate(163.627px, 138.421px) rotate(135deg);}
  }
  @keyframes r137{
    25%{transform:translate(151.338px, 132.093px) rotate(90deg);}
    50%{transform:translate(163.627px, 138.426px) rotate(135deg);}
    75%{transform:translate(163.627px, 138.426px) rotate(135deg);}
    100%{transform: translate(163.627px, 138.421px) rotate(135deg);}
  }  @keyframes r138{
    25%{transform:translate(142.338px, 132.093px) rotate(90deg);}
    50%{transform:translate(157.263px, 132.062px) rotate(135deg);}
    75%{transform:translate(163.627px, 138.421px) rotate(135deg); }
    100%{transform: translate(161.506px, 163.877px) rotate(225deg);}
  }
  .menu.slide{transform: scale(1) translateX(0%); overflow-y: hidden; pointer-events: all; }
  .stop-scrolling {
    height: 100%;
    overflow: hidden;
  }

}

@media screen and (max-width: 1400px) {
  .project{width: 35vw;}  
}
@media screen and (max-width: 1024px) {
  .project{width: 100%;}  
  .p-3{margin-top: 4rem;}
}


@media screen and (max-width: 420px) {

  .mt-180{
    margin-top: -180px !important;
  }

  .contact-page h2{text-align: center; margin-left: 1rem; margin-right: 1rem;}
  .input-container input,
  .input-container textarea{
    width: 300px;
  }

  .main-header{
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .para{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .center p{margin-top: 24px;}
  .cube{
    width: 120px;
  }

  .works{
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }

  .p-3{
    margin-top: 4rem !important;
  }

  .s-i{
    font-size: 2rem;
    -webkit-text-stroke-width: 1px;
  }

  .heading {
    font-size: 5rem;
    line-height: 1;
  }

  .cover-bg{
    height: 55vh;
  }

  .cover-bg h1 {
    margin-top: 30px;
    font-size: 2rem;
  }
  .headingflex {
    flex-direction: column;
    align-items: center;
  }
  .newline {
    line-break: anywhere;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 90%;
  }
  .m53 {
    margin: 5rem 1rem !important;
  }

  .lo-fi h2 {
    margin: auto;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: -1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
